name: Releasing
on:
  push:
    tags:
        - 'v*.*.*'
  
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest  
    permissions:
      contents: write
    steps:
      - name: Checkout (full history)
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          body_path: RELEASE_NOTES.md